<section class="container">
  <div class="row section">
    <div class="col-sm-12 col-lg-6 align-self-center mt-3">
      <div class="home_image">
        <img src="{{ profile?.imageUrl }}" alt="Home Image" class="img-fluid">
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 align-self-center mt-3">
      <h1>مرحبا بكم. اسمي {{ profile?.name }}</h1>
      <h2>أنا {{ profile?.title }}</h2>
      <a class="btn btn-primary ms-4 mt-3" href="../../assets/docs/HossamMostafaIbrahim-Resume.pdf" download target="_blank" role="button"><i class="bi bi-file-earmark-arrow-down"></i> تحميل السيرة الذاتية</a>
      <a class="btn btn-secondary ms-4 mt-3" href="{{ profile?.gitHubUrl }}" target="_blank" role="button"><i class="bi bi-github"></i> رابط الجيت هب</a>
    </div>
  </div>
</section>
